In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, Table, MetaData

In [2]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [4]:
#inspector = inspect(engine)
#columns = inspector.get_columns('measurement')
#for column in columns:
    #print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

## D1: Determine the Summary Statistics for June

In [37]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

In [6]:
#  3. Convert the June temperatures to a list.
#completed in #2

In [39]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame([results]).T
df.columns = ['June Temps']

In [40]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

       June Temps
count        1700
unique         22
top        (76.0)
freq          194

## D2: Determine the Summary Statistics for December

In [49]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

In [50]:
# 7. Convert the December temperatures to a list.
#results = results.toseries

In [51]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df = pd.DataFrame([results], dtype=np.dtype("int32")).T
df.columns = ['December Temps']

In [52]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df.describe()
#Description is for a categorical series

       December Temps
count            1517
unique             28
top            (71.0)
freq              174

In [53]:
df.dtypes

December Temps    object
dtype: object